{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-2 "><div>{% include "mainSidebar.html" %}</div></div>
      <div class="container col-sm-12 col-md-9 col-lg-19">
        <div id="content" class="border-top border-secondary mt-5"></div>
        <div class="content_block">
        <h5 class="border-bottom pl-2 pb-3 my-2">{{ category.description }}</h5>
                          
        <div class="row justify-content-between my-3">
                        
          <div class="container my-3" >
              <table class="table">
                  <thead>
                  <tr class="text-center table-dark">
                      <th>번호</th>
                      <th style="width:50%">제목을</th>
                      <th>글쓴이</th>
                      <th>작성일시</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if question_list %}
                  {% for question in question_list %}
                  <tr class="text-center">
                      <td>
                          <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                          {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                      </td>
                      <td class="text-start">
                          <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                          {% if question.answer_set.count > 0 %}
                          <span class="text-danger small mx-2">{{ question.answer_set.count }}</span>
              {% endif %}
                      </td>
                      <td>{{ question.author.username }}</td>  <!-- 글쓴이 추가 -->
                      <td>{{ question.create_date }}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                      <td colspan="4">질문이 없습니다.</td>
                  </tr>
                  {% endif %}
                  </tbody>
              </table>
              <!-- 페이징처리 시작 -->
              <ul class="pagination justify-content-center">
                  <!-- 이전페이지 -->
                  {% if question_list.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                  </li>
                  {% endif %}
                  <!-- 페이지리스트 -->
                  {% for page_number in question_list.paginator.page_range %}
                  {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                  {% if page_number == question_list.number %}
                  <li class="page-item active" aria-current="page">
                      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  <!-- 다음페이지 -->
                  {% if question_list.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                  </li>
                  {% endif %}
              </ul>
              <!-- 페이징처리 끝 -->
              <a href="{% url 'pybo:question_create' category.name %}" class="btn btn-primary">질문 등록하기</a> 
          </div>
          </div></div>
      </div>
      
  </div>



        










<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
  body {
min-height: 100vh;
min-height: -webkit-fill-available;
}

html {
height: -webkit-fill-available;
}

main {
height: 100vh;
height: -webkit-fill-available;
max-height: 100vh;
overflow-x: auto;
overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
padding: .25rem .5rem;
font-weight: 600;
color: rgba(0, 0, 0, .65);
background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
color: rgba(0, 0, 0, .85);
background-color: #d2f4ea;
}

.btn-toggle::before {
width: 1.25em;
line-height: 0;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
transition: transform .35s ease;
transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
transform: rotate(90deg);
}

.btn-toggle-nav a {
padding: .1875rem .5rem;
margin-top: .125rem;
margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
background-color: #d2f4ea;
}

.scrollarea {
overflow-y: auto;
}

</style>

</style>
<script>
    /* global bootstrap: false */
(() => {
  'use strict'
  const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  tooltipTriggerList.forEach(tooltipTriggerEl => {
    new bootstrap.Tooltip(tooltipTriggerEl)
  })
})()

</script>
{% endblock %}
</html>