<!-- 채널/커뮤니티 -> (환자 목록) -->


{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

    .step-wizard-list{
        background: #fff;
        
        color: #333;
        list-style-type: none;
        border-radius: 10px;
        display: flex;
        padding: 20px 10px;
        position: relative;
        z-index: 10;
    }

    .step-wizard-item{
        padding: 0 20px;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive:1;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-width: 170px;
        position: relative;
    }
    .step-wizard-item + .step-wizard-item:after{
        content: "";
        position: absolute;
        left: 0;
        top: 19px;
        background: #21d4fd;
        width: 100%;
        height: 2px;
        transform: translateX(-50%);
        z-index: -10;
    }
    .progress-count{
        height: 40px;
        width:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 500;
        margin: 0 auto;
        position: relative;
        z-index:10;
        color: transparent;
    }
    .progress-count:after{
        content: "";
        height: 40px;
        width: 40px;
        background: #21d4fd;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -10;
    }
    .progress-count:before{
        content: "";
        height: 10px;
        width: 20px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%) rotate(-45deg);
        transform-origin: center center;
    }
    .progress-label{
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }
    .current-item .progress-count:before,
    .current-item ~ .step-wizard-item .progress-count:before{
        display: none;
    }
    .current-item ~ .step-wizard-item .progress-count:after{
        height:10px;
        width:10px;
    }
    .current-item ~ .step-wizard-item .progress-label{
        opacity: 0.5;
    }
    .current-item .progress-count:after{
        background: #fff;
        border: 2px solid #21d4fd;
    }
    .current-item .progress-count{
        color: #21d4fd;
    }
</style>
<div class="row" style="padding-top: 3%;">
  <div class="card">
    <div class="card-header d-flex mb-6">
      <div class="col-lg-3 d-inline-flex">
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="환자명" aria-label="환자명" aria-describedby="button-addon2">
        </div>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>

      <div class="col-lg-1">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#addPatientModal">신규 환자</button>
      </div>
      

      <div class="col-lg-2 d-inline-flex">
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="타입" aria-label="타입" aria-describedby="button-addon2">
        </div>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>

      <div class="col-lg-1 dropdown ms-auto">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          정렬
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="sortButton">
          <a class="dropdown-item" href="#">날짜</a>
          <a class="dropdown-item" href="#">ID</a>
          <a class="dropdown-item" href="#">이름</a>
        </div>
      </div>

      <div class="col-1 dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-expanded="false">
          10
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="setButton">
          <a class="dropdown-item" href="#">10</a>
          <a class="dropdown-item" href="#">20</a>
          <a class="dropdown-item" href="#">30</a>
          <a class="dropdown-item" href="#">40</a>
          <a class="dropdown-item" href="#">50</a>
        </div>
      </div>

      <div class="col-lg-1">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">'설정'</button>
      </div>
    </div>

    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Patient</th>
            <th>LINK</th>
            <th>Toosapp</th>
            <th>Progress</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John Doe</td>
            <td><a href="#">Link</a></td>
            <td>Toosapp Data</td>
            <td>
              <section class="step-wizard">
                <ul class="step-wizard-list">
                  <li class="step-wizard-item">
                    <span class="progress-count">1</span>
                    <span class="progress-label">계측</span>
                  </li>
                  <li class="step-wizard-item current-item">
                    <span class="progress-count">2</span>
                    <span class="progress-label">분석</span>
                  </li>
                  <li class="step-wizard-item">
                    <span class="progress-count">3</span>
                    <span class="progress-label">치료</span>
                  </li>
                  <li class="step-wizard-item">
                    <span class="progress-count">4</span>
                    <span class="progress-label">완료</span>
                  </li>
                </ul>
              </section>
            </td>
            <td>Tag1, Tag2, Tag3</td>
          </tr>
          <!-- Add more table rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPatientModalLabel">신규 환자 등록</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'pybo:add_patient' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <label for="id_field1">이름:</label>
            <input type="text" class="form-control" id="id_field1" name="field1">
          </div>
          <div class="form-group">
            <label for="id_field2">성별2:</label>
            <input type="text" class="form-control" id="id_field2" name="field2">
          </div>
          <div class="form-group">
            <label for="id_field3">생일:</label>
            <input type="text" class="form-control" id="id_field3" name="field3">
          </div>
          <button type="submit" class="btn btn-primary">저장</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}




{% block script %}
<script>
  function toggleForm() {
    var formContainer = document.getElementById('new-patient-form');
    formContainer.style.display = (formContainer.style.display === 'none') ? 'block' : 'none';
  }
</script>
{% endblock %}