
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <div class="col">
      <img src="이미지1.jpg" alt="이미지 1">
    </div>
    <div class="col">
      <img src="이미지2.jpg" alt="이미지 2">
    </div>
    <div class="col">
      <img src="이미지3.jpg" alt="이미지 3">
    </div>
    <div class="col">
      <img src="이미지4.jpg" alt="이미지 4">
    </div>
    <div class="col">
      <img src="이미지5.jpg" alt="이미지 5">
    </div>
    <div class="col">
      <img src="이미지6.jpg" alt="이미지 6">
    </div>
  </div>
  {% end content %}