{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-11">
    <div class="card text-bg-light mb-3 mt-4">
    <div class="card-header ">레코드 목록 <button type="button" class="btn ms-2" style="background-color: rgb(182, 227, 255);">+ 레코드 생성</button></div>
    <div class="col-lg-12"></div>
    <div class="card-body" >
        <div class="card text-bg-info mb-3 ">
            <div class="card-header" style="background-color: #b3b3b3;" >
                <div class="row">
                    <div class="col">
                        <h6>레코드1: 23-06-20</h6>
                    </div>
                    <div class="col  d-flex justify-content-end">
                        
                        <!-- <div class="form-group">
                        <input class="form-control form-control-user" type="file" multiple="multiple" style="width: 25rem;"
                        name="product_detail_image" id="product_detail_image" onchange="setDetailImage(event);">
                        </div> -->
                    </div>
                </div>
                
            </div>
            <div class="card-body" style="background-color:  rgb(255, 255, 255); ">
                <div class="row">
                    <div class="col-lg-2 ms-2" style="border-right: 1px solid #c7c7c7;">
                        <div class="row">
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">계측</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">분석</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">PA</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">연조직</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">문제목록</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">치료</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">중첩</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">뷰어</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">케이스</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">타임랩스</button>
                            <button type="button" class="btn mb-2 col-lg-11" style="background-color: rgb(226,226,226);">속이뚫린</button>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="@{/upload}" method="POST" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input id="image_input_1" type="file" accept="image/*" style="display: none" onchange="selectImage(event, 'image_preview_1')">
                                            <img id="image_preview_1" src="{%static 'img/1.png' %}" class="rounded float-start" alt="..." onclick="openFileInput('image_input_1')">
                                        </div>
                                        <div class="col-lg-2">
                                            <input id="image_input_2" type="file" accept="image/*" style="display: none" onchange="selectImage(event, 'image_preview_2')">
                                            <img id="image_preview_2" src="{%static 'img/2.png' %}" class="rounded float-start" alt="..." onclick="openFileInput('image_input_2')">
                                        </div>
                                        <div class="col-lg-2">
                                            <input id="image_input_3" type="file" accept="image/*" style="display: none" onchange="selectImage(event, 'image_preview_3')">
                                            <img id="image_preview_3" src="{%static 'img/3.png' %}" class="rounded float-start" alt="..." onclick="openFileInput('image_input_3')">
                                        </div>
                                        <div class="col-lg-2">
                                            <input id="image_input_4" type="file" accept="image/*" style="display: none" onchange="selectImage(event, 'image_preview_4')">
                                            <img id="image_preview_4" src="{%static 'img/4.png' %}" class="rounded float-start" alt="..." onclick="openFileInput('image_input_4')">
                                        </div>
                                        <div class="col-lg-2">
                                            <input id="image_input_5" type="file" accept="image/*" style="display: none" onchange="selectImage(event, 'image_preview_5')">
                                            <img id="image_preview_5" src="{%static 'img/5.png' %}" class="rounded float-start" alt="..." onclick="openFileInput('image_input_5')">
                                        </div>
                                        <div class="col-lg-2">
                                            <input id="image_input_6" type="file" accept="image/*" style="display: none" onchange="selectImage(event, 'image_preview_6')">
                                            <img id="image_preview_6" src="{%static 'img/6.png' %}" class="rounded float-start" alt="..." onclick="openFileInput('image_input_6')">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Primary</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="images_container"></div>
                            </div>
                            
                              <!-- <div class="card h-100">
                                <img src="{%static 'img/INFJ.png' %}" class="card-img-top" alt="...">
                              </div> -->                            
                            
                            
                              <!-- <input type="file" id="getfile" accept="image/*"> -->

                              
                        </div>
                        
                        </div>
                    </div>
            </div>
            </div>
          </div>
    </div>
  </div>
</div>
<!-- <script>
    var file = document.querySelector('#getfile');

file.onchange = function () {
    var fileList = file.files ;

    // 읽기
    var reader = new FileReader();
    reader.readAsDataURL(fileList [0]);

    //로드 한 후
    reader.onload = function  () {
        document.querySelector('#preview').src = reader.result ;
    };
};
</script> -->
<style>
    .btn:hover {
      background-color:#8baaff;
      transition: 0.7s;
  }
</style>
<script>
    function setDetailImage(event){
        for(var image of event.target.files){
            var reader = new FileReader();
            
            reader.onload = function(event){
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.setAttribute("class", "col-lg-2");
                document.querySelector("div#images_container").appendChild(img);
            };
            
            console.log(image);
            reader.readAsDataURL(image);
        }
    }
</script>
<script>
    function openFileInput(inputId) {
        var fileInput = document.getElementById(inputId);
        fileInput.click();
    }

    function selectImage(event, previewId) {
        var imagesContainer = document.getElementById("images_container");
        imagesContainer.innerHTML = "";

        var selectedImage = document.createElement("img");
        selectedImage.src = URL.createObjectURL(event.target.files[0]);
        selectedImage.classList.add("rounded", "float-start");
        imagesContainer.appendChild(selectedImage);
        selectedImage.setAttribute("class", "col-lg-2");

        var imagePreview = document.getElementById(previewId);
        imagePreview.src = URL.createObjectURL(event.target.files[0]);
        imagePreview.setAttribute("class", "col-lg-12");
    }

    document.getElementById("images_container").style.display ='none';

</script>

{% endblock %}
