<div class="container" id="wc-container" style="user-select: auto;">

    <div class="row mobile-only" style="user-select: auto;">
        <div class="col-12" style="text-align: center; margin-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 50px; width: 100%; user-select: auto;">
            <h3 class="feature-heading mb-2 heading_mention pc-only" style="user-select: auto;"></h3>
        </div>
    </div>

    <div class="row" id="main_row" style="user-select: auto;">

        <div class="col-lg-8 offset-lg-2 col-xl-4 offset-xl-4" style="padding: 0px; user-select: auto;">

            <div id="main_heading" style="padding-left: 10px;width: 90%; margin-left: 4.5%; padding-right: 10px;background-color: rgba(255, 255, 255, 0.87);user-select: auto; border-radius: 1rem; box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%); ">

                <div class="row" style="padding-top: 2rem; user-select: auto;">
                    <div class="col-md-12 mb-3" style="text-align: center; user-select: auto;">

                        <h3 class="pc-only"  style="height: 25px; margin-bottom: 15px; user-select: auto;">DOG AND CAT</h3>

                        <form method="post" action="{% url 'password_reset' %}" style="width: 100%;">
                            <div>
                            {% csrf_token %}
<!--                            {{ form.as_p }}-->
                                <input placeholder="Email" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" style="user-select: auto;
                                        width:40%;background-color: white; height: 5%;margin-bottom: 15px;  ">
                            </div>
                            <button type="submit"
                                    style="cursor: pointer; width: 20%; height: 5%; padding:6px 15px; border-radius: 5px; outline: none; border: none; background: #0F3758; color: white">
                                send Email
                            </button>
                        </form>
                    </div>
                    <div class="col-md-12" style="user-select: auto;"></div>
                </div>
                <div style="user-select: auto;">
                    <div class="row" style="text-align: center; user-select: auto; " >
                        <div class="col-md-12" style="padding-left: 15px;padding-top: 50px; padding-right: 15px; user-select: auto;">
                            <p style="user-select: auto;">
                                <a href="https://e20f-121-134-166-70.jp.ngrok.io/pybo/password_reset/" style="user-select: auto;">비밀번호를 잊으셨나요? </a>
                            </p>
                        </div>
                        <div class="col-md-12" id="footer_login" style="padding-left: 0px; padding-right: 0px; user-select: auto;">
                            <p style="margin-top: 8px; user-select: auto;">아직 dog and cat 회원이 아니신가요?
                                <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
                            </p>
                        </div>
                    </div>
                    <hr style="margin-top: 0px; user-select: auto;">
                    <p class="company-copyright" style="text-align: center; margin-top: 20px; padding-bottom: 40px; user-select: auto;">AssembleCircle Corporation © 2022 </p>
                </div>
            </div>
        </div>
    </div>
</div>







